
/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.doctors .nav-tabs {
    border: 0;
  }
  
  .doctors .nav-link {
    padding: 20px 0;
    transition: 0.3s;
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    border: 0;
    border: 1px solid #e2e4e6;
    border-radius: 10px;
    box-shadow: rgba(122, 122, 122, 0.2) 0px 3px 8px;
  }
  
  .doctors .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  
  .doctors .nav-link h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #37517e;
  }
  
  @media (max-width: 575px) {
    .doctors .nav-link h4 {
      font-size: 14px;
    }
  }
  
  .doctors .nav-link:hover {
    color: #c2d8f8;
    background-color: #d3e1f6;
  }
  
  .doctors .nav-link.active {
    color: var(--color-primary);
    background-color: #d3e1f6;
    border-color: #c2d8f8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .doctors .tab-content {
    margin-top: 30px;
  }
  
  .doctors .tab-pane h3 {
    font-weight: 700;
    font-size: 32px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .doctors .tab-pane h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
  }
  
  .doctors .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  
  .doctors .tab-pane ul li {
    padding-top: 10px;
  }
  
  .doctors .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--color-primary);
  }
  
  .doctors .tab-pane p:last-child {
    margin-bottom: 0;
  }

/* ++++++++++++++++ CARD SECTION START ++++++++++++++++++++  */
  .card-title{
    font-size: 15px!important;
    color:#37517e;
    font-weight: 600;
  }
  .card-subtitle{
    font-size: 14px!important;
    color: #2d4164;
  }
  .card-text{
    font-size: 12px;
    color: #2d4164;
  }


  /* +++++++++++++++++++++++ Card Grid Radio section start ++++++++++++++++++++++++++++ */

:root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  --color-green: #88bbf1;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 1.5em;
}
.grid {
  display: grid;
  grid-gap: var(--card-padding);
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
}
@media (min-width: 42em) {
  .grid {
      grid-template-columns: repeat(3, 1fr);
 }
}
.card {
  background-color: #fff;
  border-radius: var(--card-radius);
  position: relative;
}
.card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(var(--card-padding) + var(--radio-border-width));
  top: calc(var(--card-padding) + var(--radio-border-width));
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #fff;
      border: var(--radio-border-width) solid var(--color-gray);
      border-radius: 50%;
      cursor: pointer;
      height: var(--radio-size);
      outline: none;
      transition: 0.2s ease-out, border-color 0.2s ease-out;
      width: var(--radio-size);
 }
  .radio::after {
      border: var(--radio-border-width) solid #fff;
      border-top: 0;
      border-left: 0;
      content: '';
      display: block;
      height: 0.75rem;
      left: 25%;
      position: absolute;
      top: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
      width: 0.375rem;
 }
  .radio:checked {
      background: var(--color-green);
      border-color: var(--color-green);
 }
  .card:hover .radio {
      border-color: var(--color-dark-gray);
 }
  .card:hover .radio:checked {
      border-color: var(--color-green);
 }
}
.plan-details {
  /* border: var(--radio-border-width) solid var(--color-gray); */
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
}
.card:hover .plan-details {
  border-color: var(--color-dark-gray);
}
.radio:checked ~ .plan-details {
  border-color: var(--color-green);
}
.radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px var(--color-dark-gray);
}
.radio:disabled ~ .plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}
.radio:disabled ~ .plan-details .plan-type {
  color: var(--color-dark-gray);
}
.card:hover .radio:disabled ~ .plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}
.card:hover .radio:disabled {
  border-color: var(--color-gray);
}
.plan-type {
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
}
.plan-credits {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}
.slash {
  font-weight: normal;
}
.plan-cycle {
  font-size: 2rem;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}
.hidden-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  padding: 10px 0;
  transition: 0.3s;
  color: #fff;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-radius: 30px;
  border: 1px solid #ddd;
}

.features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.features .nav-link h4 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 575px) {
  .features .nav-link h4 {
    font-size: 16px;
  }
}

.features .nav-link:hover {
  color: var(--color-primary);
}

.features .nav-link.active {
  color: #fff;
  background-color: #d3e1f6;
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane h3 {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.features .tab-pane h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-top: 10px;
}

.features .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--color-primary);
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}

/* ++++++++++++++++++ Clinic Card ++++++++++++++++++++++ */

input[type=text] {
  margin-top: 10px;
  background-color: #e4eff8;
  color: rgb(28, 28, 30);
  border: none;
  outline: none;
  padding: 8px 14px;
  border-radius:8px;
}
input[type=text]:focus {
  margin-top: 10px;
  background-color: #cde5fa;
  color: rgb(100, 100, 103);
}